<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net452" userInstalled="true" />
  <package id="PhantomJS" version="2.0.0" targetFramework="net452" userInstalled="true" />
  <package id="Protractor" version="0.5.0" targetFramework="net452" userInstalled="true" />
  <package id="Selenium.Support" version="2.46.0" targetFramework="net452" userInstalled="true" />
  <package id="Selenium.WebDriver" version="2.46.0" targetFramework="net452" userInstalled="true" />
  <package id="WebDriver.ChromeDriver.win32" version="2.14.0" targetFramework="net452" userInstalled="true" />
  <package id="WebDriver.IEDriverServer.win32" version="2.44.0" targetFramework="net452" userInstalled="true" />
</packages>